In [38]:
2+3

5

In [39]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))

print(num1 + num2)

14

In [40]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Choose +, -, *, /")

if(operation == "+"):
    print(num1+num2)
elif(operation == "-"):
    print(num1-num2)
elif(operation == "*"):
    print(num1*num2)
else:
    if(num2 == 0):
        print("Undefined")
    else:
        print(num1/num2)

1.0

In [41]:
name = "SohamAmbore"

for i in name[::1]:
    print(i)

S
o
h
a
m
A
m
b
o
r
e

In [42]:
sum = 0
num = int(input("Enter the number: "))
for i in range (num+1):
    sum+= i
print(sum)

28

In [43]:
sum = 0
num = int(input("Enter the number: "))
i = 0
while i <= num:
    sum+=i
    i=i+1
print(sum)

28

In [44]:
#display prime numbers between 1 to 100

for i in range (2, 101):
    isPrime = True

    for j in range (2, i):
        if(i%j==0):
            isPrime = False
    
    if isPrime:
        print(f"{i} is a Prime number")

2 is a Prime number
3 is a Prime number
5 is a Prime number
7 is a Prime number
11 is a Prime number
13 is a Prime number
17 is a Prime number
19 is a Prime number
23 is a Prime number
29 is a Prime number
31 is a Prime number
37 is a Prime number
41 is a Prime number
43 is a Prime number
47 is a Prime number
53 is a Prime number
59 is a Prime number
61 is a Prime number
67 is a Prime number
71 is a Prime number
73 is a Prime number
79 is a Prime number
83 is a Prime number
89 is a Prime number
97 is a Prime number

In [45]:
num = int(input("Enter a num: "))
if(num>0):
    print("It is a positive number")
elif(num == 0):
    print("It is zero")
else:
    print("It is a negative number")

It is a positive number

In [46]:
num = int(input("Enter a num: "))

if(num>0 and num%2==0):
    print("It is positive and an even number")
elif(num>0 and num%2!=0):
    print("It is positive and an odd number")
else:
    print("It is a negative number or zero")

It is positive and an odd number

In [47]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
i = 1
while (i<11):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range (1, 6):
    for j in range (1, 6):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
sum = 0

while True:
    check = int(input())
    if check == 0:
        break
    sum += check

print(sum)

In [ ]:
for i in range (1, 11):
    if(i==5):
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
num = int(input())
for i in range (1, num+1):
    if (i%2==0):
        print(i)
    else:
        continue

2
4
6
8
10
12
14

In [ ]:
#Factorial Calculation
num = int(input())
i = 1
ans = 1
while (i<=num):
    ans*=i
    i=i+1

print(ans)

120

In [ ]:
#Sum of Digits
sum = 0
num = int(input())
while (num>0):
    sum+=num%10
    num//=10
print(sum)

15

In [ ]:
#Prime Number Check
num = int(input())
isPrime = True
for i in range (2, num):
    if(num%i==0):
        isPrime = False
if(isPrime):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

8 is not a prime number

In [ ]:
#Fibonacci Sequence
num = int(input())
first = 0
second = 1

for i in range (0, num+1):
    print (first)

    temp = second
    second = first + second
    first = temp

0
1
1
2
3
5

In [ ]:
fruits = ["banana", "apple", "mango", "strawberry", "watermelon"]

# for i in range (0, 5):
#     fruits[i] = "nigga"
fruits[2:] = "nigga"

print(fruits)

['banana', 'apple', 'n', 'i', 'g', 'g', 'a']

In [ ]:
list=[num for num in range (0,20)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list = [1, 0.3, True, "boy"]
print(type(list))

<class 'list'>

In [ ]:
fruits = ["banana", "apple", "mango", "strawberry", "watermelon"]
print(fruits)
fruits.insert(1, "cherry")
print(fruits)

['banana', 'apple', 'mango', 'strawberry', 'watermelon']
['banana', 'cherry', 'apple', 'mango', 'strawberry', 'watermelon']

In [ ]:
doubles = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range (0, 10):
    doubles[i]=doubles[i]*2

doubles

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
[i*2 for i in range(1, 11) if i%2==0]
#[expression for value in iterable if condition]

[4, 8, 12, 16, 20]

In [ ]:
array = [i**3 for i in range(1,11)]
print(array)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
fruits = ["banana", "apple", "mango", "strawberry", "watermelon"]
upperFruits = [i.upper() for i in fruits]
print(upperFruits)

['BANANA', 'APPLE', 'MANGO', 'STRAWBERRY', 'WATERMELON']

In [ ]:
#List comprehension:
# [expression for value in iterable if condition]

In [ ]:
[i for i in range (1, 21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Create a list of random numbers and sort it in ascending and descending order.
#Remove the duplicates from the list and print the modified list.

random = [12, 31, 231, 32, 13, 23, 1312, 3, 1, 23, 13]
random = list(set(random))
random.sort()
print(random)

[1, 3, 12, 13, 23, 31, 32, 231, 1312]

In [ ]:
#Create a nested list representing a 3x3 matrix and print the matrix.
#Access and print the element at the second row and third column.
nestedList = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(nestedList)

print(nestedList[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

In [ ]:
#Touples

mixedTouple = (16, 3.14, "Dog")
print(mixedTouple)
print(type(mixedTouple))

(16, 3.14, 'Dog')
<class 'tuple'>

In [ ]:
#LISTS are mutable (changable/modifyable)
#TUPLES are immutable

In [ ]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tpl)

print(tpl[1])
print(tpl[-1])
print(tpl[len(tpl)//2])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
2
10
6

In [ ]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [ ]:
tpl = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
print(tpl)
print(tpl[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [ ]:
tupleA = (1, 2, 3)
tupleB = (4, 5, 6)
print(tupleA+tupleB)

(1, 2, 3, 4, 5, 6)

In [ ]:
tpl = (1, 2, 3, 4, 5, 6, 6)
print(tpl.count(6))
print(tpl.index(6))

2
5

In [57]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [5]:
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [8]:
tpl_of_tpls = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [14]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
print(lst)
lst.append(6)
tpl = tuple(lst)
print(tpl)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [20]:
tpl = ("h", "e", "l", "l", "o")
print(tpl)
new_tpl = "".join(tpl)
print(new_tpl)

('h', 'e', 'l', 'l', 'o')
hello

In [29]:
#sets

my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)
my_set.remove(6)
print(my_set)

my_set.pop()
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [34]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)

True

In [40]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {5, 6, 7, 8, 9, 10}

#union:
union_set = set1.union(set2)
print(union_set)

#intersection:
intersection_set = set1.intersection(set2)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}

In [49]:
#counting unique words in a sentence
sentence = "In this tutorial we are learning about sets. Enjoy the tutorial"
words = sentence.split()

#convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)

{'In', 'sets.', 'Enjoy', 'are', 'we', 'learning', 'this', 'about', 'the', 'tutorial'}

In [ ]:
#dictionaries:
my_dict = {
    "name": "Soham", 
    "age" : 20,
    "male" : True
    }
print(my_dict)
print(type(my_dict))

#RULES:
#keys should be unique
#dictionaries are mutable, so we can update or delete elements

{'name': 'Soham', 'age': 20, 'male': True}
<class 'dict'>

In [ ]:
student = {
    "name" : "Prakash",
    "age" : 19,
    "grade" : 'A'
}

print(student["age"]) #read 

student["age"] = 20 #update
print(student["age"])

student["address"] ="Pune" #create
print(student["address"])

del student["grade"] #delete
print(student)

19
20
Pune
{'name': 'Prakash', 'age': 20, 'address': 'Pune'}

In [ ]:
# Dictionary methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Prakash', 20, 'Pune'])
dict_items([('name', 'Prakash'), ('age', 20), ('address', 'Pune')])
{'name': 'Prakash', 'age': 20, 'address': 'Pune'}

In [71]:
#shallow copy
student_copy = student
student["name"] = "Aditya"
print(student)
print(student_copy)

#updates both the places

student_copy1 = student.copy() #shalow copy
student["name"] = "Prakash"
print(student)
print(student_copy1)

{'name': 'Aditya', 'age': 20, 'address': 'Pune'}
{'name': 'Aditya', 'age': 20, 'address': 'Pune'}
{'name': 'Prakash', 'age': 20, 'address': 'Pune'}
{'name': 'Aditya', 'age': 20, 'address': 'Pune'}

In [ ]:
#iterating over dictionaries

#iterating over keys
for key in student.keys():
    print(key)

#iterating over values
for value in student.values():
    print(value)

name
age
address
Prakash
20
Pune

In [77]:
#iterate over key value pairs:
for key, value in student.items():
    print(f"{key} : {value}")

name : Prakash
age : 20
address : Pune

In [81]:
#nested dictionaries
students = {
    "student1" : {"name":"peter", "age":28},
    "student2" : {"name":"tony", "age":38}
}
print(students)

{'student1': {'name': 'peter', 'age': 28}, 'student2': {'name': 'tony', 'age': 38}}

In [84]:
#iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'peter', 'age': 28}
name:peter
age:28
student2:{'name': 'tony', 'age': 38}
name:tony
age:38

In [92]:
#Dictionary Comprehension
squares = {x:x**2 for x in range(10) if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [95]:
#Practical examples:
#Use a dictionary to count the frequency of elements in list

numbers=[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4]
frequency={}
for num in numbers:
    if num in frequency:
        frequency[num]+=1
    else:
        frequency[num]=1


print(frequency)

{1: 1, 2: 2, 3: 3, 4: 5}

In [100]:
#Merge two dictionaries into one
dict1 = {"a":1, "b":2}
dict2 = {"c":3, "d":4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
lst = [1, 12, 4, 523, 523, 52, 5, 23]
lst.sort()
lst.sort(reverse=True)
print(lst)
my_set = set(lst)
print(my_set)

lst = list(my_set)
lst.sort(reverse = True)
print(lst)

[523, 523, 52, 23, 12, 5, 4, 1]
{1, 4, 5, 523, 12, 52, 23}
[523, 52, 23, 12, 5, 4, 1]

In [13]:
lst = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(lst)
print(lst[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

In [ ]:
#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

lst = [
    {"name": "Anna", "score": "A"},
    {"name": "Bob", "score": "C"},
    {"name": "Carol", "score": "B"}
]

lst.score.sort()
print(lst)

In [ ]:
lst = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
    ]



for i in range (len(lst)):
    for j in range (len(lst[i])):
        lst[i][j]=(lst[j][i])

for row in (lst):
    print(row)

[1, 4, 7]
[4, 5, 8]
[7, 8, 9]

In [ ]:
#FUNCTIONS:

def function_name(parameters):
    """Docstring"""#(comments)
    # Function body
    return expression

In [2]:
def odd_or_even (num):
    if(num%2==0):
        print("num is even")
    else:
        print("num is odd")

odd_or_even(16)
odd_or_even(67)

num is even
num is odd